@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
main {
  margin-top: 10%;
}
.backimg {
  display: flex;
  height: 450px;
  justify-content: center;
  align-items: center;
  background-image: url("../mainimg/test1.jpg");
}
.area {
  height: 150px;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 30px;
  box-shadow: inset 2px 1px 4px 4px rgb(235, 235, 235);
}
.area2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 1312px;
}
/* -- 인기 추천 숙소 -- */
.wrapper{
  display: flex;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 1312px;
  margin-bottom: 10%;
}
.wrapper .carousel{
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.carousel img:first-child{
  margin-left: 0px;
}
.carousel > div {
  display: inline-block;
  width: calc(90% / 3);
  border: 1px solid lightgrey;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
.carousel > div > div {
  margin: 20px;
}
.crtext-area {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
}
.title {
  font-weight: 1000;
  font-size: large;
}
.score {
  color: rgb(231, 228, 22);
  font-size: 20px;
}
.score > span {
  color: black;
}
/* -- 슬라이드 버튼 -- */
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 9;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
/* ----------------------- */
/* 국내 인기 여행지 */
.best {
  display: flex;
  margin: auto;
  width: 1312px;
  margin-bottom: 5%;
}
.best div {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 20px;
  margin-right: 55px;
  box-shadow: 1px 1px 1px 1px rgb(235, 235, 235);
}
.best div img{
  display: inline-block;
  width: 400px;
  height: 340px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 20px 20px 0 0;
}
.best div p {
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 700;
}
/* ----------------------- */
h5 {
  margin-left: 1%;
}
@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}