.sidebar {
    min-width: 200px;
    font-weight: bold; 
    width: 20%; 
    position: fixed;
    top: 150px;
    bottom: 0;  
    left: 50px;
    
}

.sidebar-link {
     height: 55px;
     cursor: pointer;
     text-align: center;
    line-height: 55px;
    margin-top: 15px;
    
}

nav .sidebar-link:hover {
    background-color: #FAF9FF;
    margin-left: 50px;
    border-radius: 1em;
}

.sidebar-link div {
    display: inline-block;
    color: black;
}

.sidebar-link > div > a{
    text-decoration: none;
}