<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectCompany">
		 SELECT COMPANY_NUM, COMPANY_NAME, COMPANY_ADDRESS,company_picture
    FROM COMPANY
    WHERE COMPANY_NUM =?
	</entry>
	
	<entry key="mainCompanySelect">
	SELECT COMPANY_NUM,COMPANY_NAME,COMPANY_PICTURE, SCORE
	FROM COMPANY
	JOIN(SELECT COMPANY_NUM, NVL(AVG(SCORE),0) SCORE
	    FROM REVIEW 
	    RIGHT JOIN COMPANY USING (COMPANY_NUM)
	    GROUP BY COMPANY_NUM
        ORDER BY SCORE DESC) USING(COMPANY_NUM)
	
	</entry>
</properties>