<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginMember">
	SELECT * FROM MEMBER WHERE MEMBER_ID = ? AND MEMBER_PW = ? AND STATUS = 'Y'
	</entry>
	<entry key="insertMember">
		INSERT INTO MEMBER VALUES(?, ?, ?, ?, ?, DEFAULT)
	</entry>

</properties>