<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<!-- 	<entry key="searchCompany"> -->
<!-- 		SELECT DISTINCT COMPANY_NAME, C.COMPANY_ADDRESS, COMPANY_PICTURE, COMPANY_NUM -->
<!-- 		FROM COMPANY C -->
<!-- 		JOIN RESERVE USING(COMPANY_NAME) -->
<!-- 		WHERE (COMPANY_NAME LIKE '%' || ? || '%' -->
<!-- 		OR C.COMPANY_ADDRESS LIKE '%' || ? || '%') -->
<!-- 		AND (CHECKIN NOT BETWEEN ? AND ? -->
<!-- 		AND CHECKOUT NOT BETWEEN ? AND ?) -->
<!-- 	</entry> -->
	<entry key="searchCompany">
	<!-- 
		SELECT DISTINCT COMPANY_NUM,COMPANY_NAME,C.COMPANY_ADDRESS,C.COMPANY_CATEGORY ,COMPANY_PICTURE, SCORE
		FROM COMPANY C
		    JOIN RESERVE USING(COMPANY_NAME)
		    JOIN (
		    SELECT COMPANY_NUM, AVG(SCORE) SCORE
		    FROM REVIEW 
		    JOIN COMPANY USING (COMPANY_NUM)
		    WHERE COMPANY_NAME LIKE '%' || ? || '%' OR
		    COMPANY_ADDRESS LIKE '%' || ? || '%'
		    GROUP BY COMPANY_NAME, COMPANY_NUM
		) SCORE USING(COMPANY_NUM)
		WHERE CHECKIN NOT BETWEEN ? AND ?
		        AND CHECKOUT NOT BETWEEN ? AND ?
	 -->
	 SELECT DISTINCT COMPANY_NUM,COMPANY_NAME,C.COMPANY_ADDRESS, C.COMPANY_CATEGORY, COMPANY_PICTURE, SCORE
	FROM COMPANY C
	    JOIN (
	    SELECT COMPANY_NUM, NVL(AVG(SCORE),0) SCORE
	    FROM REVIEW 
	    RIGHT JOIN COMPANY USING (COMPANY_NUM)
	    GROUP BY COMPANY_NUM
	) SCORE USING(COMPANY_NUM)
	LEFT JOIN (
	    SELECT * 
	    FROM RESERVE
	    WHERE NOT (CHECKIN BETWEEN ? AND ?
	        OR CHECKOUT BETWEEN ? AND ?)
	) R USING(COMPANY_NAME)
	WHERE (COMPANY_NAME LIKE '%' || ? || '%' OR
	            C.COMPANY_ADDRESS LIKE '%' || ? || '%')
	</entry>
	<entry key="selectReserveList">
		SELECT RESERVE_NUM
			 , CHECKIN
			 , CHECKOUT
			 , COMPANY_NAME
			 , COMPANY_ADDRESS
		FROM RESERVE
		WHERE MEMBER_ID = ?
	</entry>
	<entry key="deleteReserve">
		DELETE FROM RESERVE
		WHERE MEMBER_ID = ? AND RESERVE_NUM = ? 
	</entry>
</properties>