<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="searchCompany">
		SELECT DISTINCT COMPANY_NAME, C.COMPANY_ADDRESS, COMPANY_PICTURE, COMPANY_NUM
		FROM COMPANY C
		JOIN RESERVE USING(COMPANY_NAME)
		WHERE (COMPANY_NAME LIKE '%' || ? || '%'
		OR C.COMPANY_ADDRESS LIKE '%' || ? || '%')
		AND (CHECKIN NOT BETWEEN ? AND ?
		AND CHECKOUT NOT BETWEEN ? AND ?)
	</entry>
</properties>